
.my-image1,
.my-image2,
.my-image4 {
  max-width: 350px;
  min-height: 250px;
}

.jumbotron {
 
  padding: 2rem;
}
/* styling to jumbotron text */
.abt5{
    font-size: 20px;
}

.my-form{
    margin-top: 10px;
}

/* make the jumbotron text responsive by using media queries */
 @media (max-width: 576px) {
    .abt7 {
    position: relative;
    top: 450px;
    }
} 
@media (max-width: 576px) {
    .abt8 {
    position: relative;
    top: 850px;
    }
} 


/* media queries for images  */
@media (max-width: 576px) {
    .my-image2{
    margin-top: 130px;
    }
} 
@media (max-width: 576px) {
    .my-image4{
    margin-top: 220px;
    }
} 
@media (max-width: 576px) {
    .my-image1 {
    position: relative;
    top: -140px;
    }
} 

/* media queries for search form  */
 @media (max-width: 576px) {
    .form1 {
        position: relative;
        top: -980px;
        padding-left: 35px;
    }
} 