
.my-image1,
.my-image2,
.my-image4 {
  max-width: 350px;
  min-height: 250px;
}

.jumbotron {
 
  padding: 2rem;
}
/* styling to jumbotron text */
.abt5{
    font-size: 20px;
}

.my-form{
    margin-top: 10px;
}

/* make the jumbotron text responsive by using media queries */

/* @media (max-width: 576px) {
    .abt7 {
    position: relative;
    top: 530px;
    }
}

@media (max-width: 576px) {
    .my-image1,.my-image2 {
    margin-bottom: 230px;
    }
} */


