.form  {
    background-color: wheat;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
 
   
}

.Sbtn {
    margin-top: 30px;
    align-content: center;
   
    text-decoration: none;
    text-size-adjust: auto;
    
}