.form  {
    background-color: wheat;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
}


.Sbtn {
    margin-top: 30px;
    align-content: center;
   
    text-decoration: none;
    text-size-adjust: auto;
    
}

    @media (min-width: 992px) and (max-width: 1199px) {
        .form {
          min-height: 900px;  
          max-width: 500px;
          margin: 0 auto;
          padding: 20px;
        }
      }