.footer {
    margin: 30px auto;
    height: auto;
    width: auto;
    padding: 45px 0 20px;
    background-color: #bbb;
    color: #26272b;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-size-adjust: auto;
}

.footer .social_media-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 100%;
    background-color: black;
    }

.footer .copyright-text {
    color: red;
    margin-top: 90px;
    margin-left: 300px;
    text-align: left;

}