.image-container {
  position: relative;
  height: 350px;
  width: 100%;
  top: -35px;
}

.my-image6 {
  height: 350px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.display-4{
  font-size: 46px!important;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: -70px;
}

.lead {
  font-size: 1.5rem;
  font-weight: bold!important;
}

.my-image,
.my-image3,
.my-image5 {
  flex:1;
  flex-basis: 33.3%;
  max-height: 220px; 
}


.abt4 {
  margin-top: -120px;
}

.wkfun {
  font-size: 24px;
}

/* download styling */
.download .badges .badge-link {
  margin-bottom: 25px;
}

.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

.download .badges .badge-link img {
  height: 60px;
  margin-right: 10px;
}

/* make the jumbotron text responsive by using media queries */

@media (max-width: 576px) {
  .topic1 {
  font-size: 32px!important;
  margin: 5px;
 
  }
  
  .abt4 {
  display: inline;
  font-size: 18px;
   margin-bottom: 10px;
  }
  }

  /* make the jumbotron images responsive by using media queries */ 

@media (max-width: 576px) {
  .my-image,.my-image3,.my-image5 {
      max-width: 450px;
      min-height: 200px;
    
  }
}

@media (max-width: 576px) {
.my-image6 {
  margin-top:20px;
}
}
  /* make the download text responsive by using media queries */ 

@media (max-width: 576px) {

.download{
  margin-top: 280px;
 
}
}
@media (max-width: 576px) {

  .wkfun1{
    margin-top: 10px;
   
  }

 
}
  /* make the download images responsive by using media queries */ 

@media (max-width: 576px) {

.download .badges .badge-link img {
  
  height: 40px;
    
  }
}

/* @media (max-width: 576px) {
  .jumbotron {
    padding-bottom: 30px;
  }
  } */
  