.image-container {
  position: relative;
  height: 350px;
  width: 100%;
}

.my-image6 {
  height: 600px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/* text styling*/

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.display-4 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
}

/* triple images styling*/
.my-image,
.my-image3,
.my-image5 {
  flex-basis: 33%;
  flex-grow: 1;
  max-width: 430px;
}

.my-image3 {
  max-width: 550px;
}
.jumbotron {
 
  padding: 2rem;
}


