nav {
    background-color: #17a2b8;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    border: none;
    text-align: right;
    
  }
  
  .nav-link {
    color: #fff;
    margin-left: 1.5rem;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-family: 'Tangerine', serif;
    font-size: 30px;
  }
  